/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #009688;
}

/* Utility */
.ab-bg-grey {
    background-color: #eaeaea;
}

.ab-bg-blue {
    background-color: #8edafc;
}

.ab-h60 {
    height: 60px;
}

.ab-h45 {
    height: 45px;
}

.frame {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 8px;
}

/* Content */
.ab-bg-chat {
    background-image: url('../img/mine.jpg');
}

.icons {
    color: gray;
    font-size: 20px;
    margin: 0px 7px;
}

.icons:hover {
    cursor: pointer;
}

.text-message {
    min-width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.sent {
    background-color: #d5f9ba;
    align-self: flex-end;
}

.received {
    background-color: white;
    align-self: flex-start;
}

.chat-height {
    height: calc(100% - 60px);
}